.dark-blue {
    color:#1D0C59
}

.bg-dark-blue {
    background-color:#1D0C59
}

.light-blue {
    color:#2714A6
}

.dark-red {
    color:#A23A37
}

.light-red {
    color:#F23D3D
}

.white {
    color:#F2F2F2
}

.background-color2 {
    background-color:#2714A6
}